.content.card{
  .cardGrid{
    .ant-card-body{
      display: block!important;
    }
  }
  .tabCard1{
    .ant-card-head{
      flex: 0 0 95px;
    }
  }
  .tabCard2{
    .ant-card-head{
      flex: 0 0 56px;
    }
  }
}