.demo-form {
  .login-form-test{
    max-width: 300px;
    .login-form-forgot {
      float: right;
    }
     .login-form-button {
      width: 100%;
    }
    .ant-form-item-control-wrapper{
      width: 100%;
    }
  }
  
}
